// {{ ansible_managed }}
// APT periodic configuration

APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Download-Upgradeable-Packages "1";
APT::Periodic::AutocleanInterval "7";
APT::Periodic::Verbose "{{ apt_periodic_verbose | default('0') }}";